/*===================================
=            $Styleguide            =
===================================*/
html {
  /* HTML style */
}

body {
  background: whitesmoke !important;
  padding: 6em 0;
  margin: 0;
}

.styleguide-holder {
	margin: 0 auto;
	overflow: hidden;
	padding: 20px;
	width: 60%;
}

.styleguide-topbar {
	position: fixed;
	background: #333 !important;
	overflow: hidden !important;
	width: 100%;
	top: 0;
	z-index: 999;
}

	.styleguide-topbar h1 {
		color: #fff !important;
		float: left;
		margin: 0;
	}

	.styleguide-topbar form {
		float: right;
	}

.styleguide-main .styleguide-holder {
	background: #fff !important;
}

.styleguide-text {
	background: transparent !important;
	color: #333 !important;
	font-family: Arial, sans-serif !important;
}

.styleguide-content {
	background: #fdfdfd !important;
	border-bottom: 1px solid #ccc !important;
	padding: 6px !important;
	font-family: Arial, Geneva, sans-serif !important;
	color: #333 !important;
}

.styleguide-color-list figure {
	display: inline-block !important;
}

.styleguide-color-list figcaption {
	font-family: Arial, Geneva, sans-serif !important;
	text-align: center !important;
}

.styleguide-color-list .styleguide-color {
	border: 1px solid #eee;
	display: block !important;
	margin-bottom: 1em;
	width: 6em;
	height: 6em;
}

.styleguide-font {
	font-size: 150% !important;
	padding: 0.5em 0 !important;
}

/*-----  End of $Styleguide  ------*/
