/* Put your styles here */

.color-1 { background-color: #333; }
.color-2 { background-color: #666; }
.color-3 { background-color: #ccc; }

.font-1 { font-family: Arial, Geneva, sans-serif; }
.font-2 { font-family: Georgia, "Times New Roman", serif; }
